body{
    background-color: #2C3E50;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
section{
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    box-shadow:0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    
   
}
nav{
    top: 0;
background-color:#09f;
padding: 10px;
text-align: center;
font-size: 30px;
position: sticky;


}
nav>a{
    display: inline-block;
    margin-left: 10%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.669);
    padding-right: 10px;
    overflow-wrap: normal;
}
nav>a:hover{
    color: white;
    padding-left:10px;
    box-shadow:0px 4px 8px 0px rgba(0, 0, 0, 0.2);;
   
}
nav >a>img{
    vertical-align: middle;
    width: 40px;
    height: auto;
}